{
    "application.fingerprint" : "4oc73rsZZp8Rn1tHs8E/QF5/tH04fjZtGxmKfyn4HlrdvfONsMRd7h7Ud1xyq6a8FqAOxwx8fnap209NfVXmwQ==",
    "application.language" : "zh-CN",
    "application.masterPassword" : true,
    "application.windowOpacity" : 0.94999999999999996,
    "terminal.askBeforeCloseTab" : false,
    "terminal.askBeforeCloseWindow" : false,
    "terminal.loginWizard.defaultAuthType" : "Account",
    "terminal.reimportShellSessions" : 2,
    "terminal.text.hiddenMargins" : [ "symbol", "number", "timestamp" ]
}
